<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheet  %}
        {% endblock %}
        <title>{% block title %} Home {% endblock %}</title>
    </head> 
    <body>
        <h1>Base HTML plop</h1>
        Get  -{{ params['get'] }}-
        <ul>
            <li><a href={{ url }}"start.php?c=user&t=create">Création</a></li>
            <li><a href={{ url }}"start.php?c=user&t=liste">Liste</a></li>
        </ul>
        {% block body %}
        {% endblock %}
       
        {% block script %}
        {% endblock %}
</body>
</html> 
