{% extends "base.html" %}

{% block stylesheet %}
    <style>
        table, th,td {
            border-collapse: collapse;
            border: 1px solid black;
        }
        .ok {
            background-color: green;
            text-align: center;
        }
    </style>
{% endblock %}


{% block body %}
    <table>
        <tr>
            <th width=30%>Réalisations</th>
            {% for competence in competences %}
                <th>{{ competence.shortLib }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td style="background-color: grey"></td>
            {% for competence in competences %}
                <td>{{ competence.longLib }}</td>
            {% endfor %}
        </tr>
        
        {% set lastLocalisationId=0 %}
        {% for realisation in realisations %}
            {% if lastLocalisationId != realisation.localisation.id %}
                <tr>
                    {% set lastLocalisationId=realisation.localisation.id %}
                    <td>{{ realisation.localisation.longLib }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    {{ realisation.lib }}
                </td>
            
                {% for competence in competences %}
                    {% set comp="" %}
                    {% for realComp in realisation.competences %}
                        {% if realComp.id == competence.id %}
                            {% set comp="OK" %}
                            
                        {% endif %}
                    {% endfor %}
                    
                    {% if (comp=="OK") %}
                        <td class="manageComp delNewComp ok" id="{{realisation.id}}-{{competence.id}}" data-real_id={{ realisation.id }} data-comp_id={{ competence.id }}>
                            {{ comp }}
                        </td>
                    {% else %}
                        <td class="manageComp addNewComp" id="{{realisation.id}}-{{competence.id}}" data-real_id={{ realisation.id }} data-comp_id={{ competence.id }}>
                            {{ comp }}
                        </td>
                    {% endif %}
                {% endfor %}
            
            </tr>
            
        {% endfor %}
    </table>
    <script>
        $(".manageComp").click(function() {
            console.log("Click",$(this));
            /*
                Gestion des appels AJAX en cas d'ajout ou de retrait de compétence à une rélalisation
                On peut utiliser plusieurs méthoses pour récupérer la cellule sur laquelle l'utilisatuer a 
                cliqué. Soit l'utilsation d'un id soit l'utilisateion des data- dans les balises html.
                La gestion des class de la cellule permet de savoir si on ajoute ou on retire une 
                compétence. 
            */
            if ($(this).hasClass("delNewComp")) {
               console.log("Del Comp");  
               $.ajax({
                  type: "POST",
                  url: "?c=portfolio&t=deleteNewCompetence",
                  data: {real:this.dataset.real_id,comp:this.dataset.comp_id},
                  complete: function(result){
                      resultObj=JSON.parse(result.responseText);
                      console.log("Succès",JSON.parse(result.responseText));
                      $("#"+resultObj.real_id+"-"+resultObj.comp_id).removeClass("delNewComp ok").addClass("addNewComp").text(""); 
                  },
                  dataType: "json"
                });
            }
            
            if ($(this).hasClass("addNewComp")) {
                console.log("Add Comp");
                $.ajax({
                  type: "POST",
                  url: "?c=portfolio&t=insertNewCompetence",
                  data: {real:this.dataset.real_id,comp:this.dataset.comp_id},
                  complete: function(result){
                      resultObj=JSON.parse(result.responseText);
                      console.log("Succès",JSON.parse(result.responseText));
                      $("#"+resultObj.real_id+"-"+resultObj.comp_id).text("OK").removeClass("addNewComp").addClass("delNewComp ok");
                      
                  },
                  dataType: "json"
                });
            };
            
        })
        
    
    </script>
{% endblock %}

